extends layout

block content
   h1= title
   #angular(ng-controller="TaskController")
      .images(ng-repeat="image in memeList")
         .containers
            img.memeImages(ng-src="{{image.image_url}}")
            p.imageText(ng-hide="image.editMemeText" ng-click="newFunction(image)") {{image.text}}
            p.imageText(ng-show="image.editMemeText")
               textarea(rows="2" cols="34" ng-keypress="myFunct(image, $event)" ng-model="image.text" type="text")